<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Flask App</title>
</head>
<body>
    <h1>Welcome to the blockchain flask app!</h1>
    <p>Here you find the links you need:</p>
    <a href="{{ url_for('mine') }}">Forge a block of the blockchain</a><br>
    <a href="{{ url_for('new_transaction') }}">Make a transaction</a><br>
    <a href="{{ url_for('full_chain') }}">Checkout your blockchain</a><br>
</body>
</html>